.input{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.input__text{
    color: #545454;
    font-family: "Proxima Nova";
    line-height: 25px;
}

.input__field{
    border: none;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
}
