.title{
    text-align: center;
    font-size: 40px;
    color: #545454;
    font-weight: 300;
    font-family: "Proxima Nova";
}

.title_textRight{
    text-align: right;
}

.title_fontSize_35{
    font-size: 35px;
}

.title_marginBottom_20{
    margin-bottom: 20px;
}

.title_color_white{
    color: white;
}
