include ../blocks/head/head.jade
.container
    .container.container_blue
        include ../blocks/header/header.jade
        .container.container_width_730.container_marginTop_40
            h1.title.title_textRight Meet Perth
            h2.title 
                | A stupidly simple, flat PSD. Oh yeah, it’s 
                span.text.text_bold.text_white free
                | too!
                button.button download
                    .button__img.button__img_download
    .container_phone
    
    
    




    
