@font-face {
	src:url("fonts/Proxima Nova Regular.otf");
	font-family: "Proxima Nova";
}

@font-face {
	src:url("fonts/blackjack.otf");
	font-family: "Black Jack Regular";
}

*{
	box-sizing:border-box;
}

body{
    margin: 0px;
    padding: 0px;
}
